{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Welcome to Sila Nanotechnologie!</h1>
<p class="lead">To get to mass market electric vehicles, you have to lower the cost of the battery pack on a dollars per kilowatt-hour ($/kWh) basis. The best way to do this is through higher volumetric energy density, which Sila materials enable. More energy in each cell means fewer cells for the same battery pack capacity and vehicle range, and therefore much lower cost overall.
</p>
{% endblock %}
